@{
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}
<link type="text/css" rel="stylesheet" href="~/css/adminClientsInfo.css" />
<form asp-action="Contacts" asp-controller="Admin" method="post" enctype="multipart/form-data">
    <table class="ClinetInfoTable">
        <thead>
            <tr>
                <td class="ClientInfoColumn1">
                    <div class="AdminPageLabel">Основной заголовок:</div>
                </td>
                <td class="ClientInfoColumn2">
                    <textarea class="ClientInfoTextInputMain" name="PageHeader">@ViewData["AdminContactsMainText"]</textarea>
                </td>
                <td class="ClientInfoColumn3" rowspan="2">
                    <img class="FileInputImage" asp-append-version="true" src="/@ViewData["AdminContactsImageThumb"]" />
                </td>
            </tr>
            <tr>
                <td>
                    <div class="AdminPageLabel">Подзаголовок:</div>
                </td>
                <td>
                    <textarea class="ClientInfoTextInputMain" name="PageSubHeader">@ViewData["AdminContactsSubHeader"]</textarea>
                </td>
            </tr>
            <tr>
                <td colspan="2"> </td>
                <td>
                    <input type="file" accept="image/jpeg,image/png" class="FileInput" name="uploadedMainFile" />
                    <input type="submit" class="FileInputSubmitButt" asp-action="Contacts" value="Загрузить" />
                </td>
            </tr>
        </thead>


        @{ int TotalLinkID = 0;}
        @foreach (Contacts _ContactLinks in (IEnumerable<Contacts>)ViewData["ContactLinks"])
        {
            <tr class="Unsortable">
                <td colspan="3">
                    <input class="RowsAfterMoveClass" type="hidden" name="RowsAfterMove" value="@_ContactLinks.link.Count()" />
                    <table class="ClinetInfoTableRaw">
                        <tbody class="Contactssortable">
                            <tr class="Unsortable" style="background-color: rgba(255, 255, 255, 0.6);">

                                <td class="ContactsRawColumn2" id="@_ContactLinks.index">
                                    <input type="image" onclick="return confirmDeleteContactsRow();" class="DeleteElementButton" src="/Images/DeleteImgFromGalleryButt_Small.png" asp-action="Contacts" asp-route-actionName="deleteRow" asp-route-id="@_ContactLinks.index" alt="Удалить" />
                                </td>
                                <td class="ContactsRawColumn1">
                                    <div class="AdminPageLabel" style="text-align:left;">Удалить ряд</div>
                                </td>

                                <td class="ContactsRawColumn2" id="@_ContactLinks.index">
                                    <input type="image" class="AddElementButton" src="/Images/AddContactLink_small.png" asp-action="Contacts" asp-route-actionName="addLink" asp-route-id="@_ContactLinks.index" alt="Добавить ссылку" />
                                </td>
                                <td class="ContactsRawColumn1">
                                    <div class="AdminPageLabel" style="text-align:left;">Добавить строку</div>
                                </td>
                                <td class="ContactsRawColumn3">
                                    <div class="AdminPageLabel" style="text-align: left; padding-left:12vw;">Ряд ссылок № @_ContactLinks.index :</div>
                                </td>
                            </tr>
                            @{ int InRawLinkID = 0;}
                            @foreach (string _Link in _ContactLinks.link)
                            {
                                <tr draggable="true">
                                    <td colspan="5">
                                        <table class="ContactsRawTable">

                                            <tr class="Unsortable">
                                                <td class="ClientInfoColumn1">
                                                    <div class="AdminPageLabel">Текст:</div>
                                                </td>
                                                <td>
                                                    <textarea rows="1" class="ClientInfoTextInput" name="ContactsTexts">@_ContactLinks.linkName[InRawLinkID]</textarea>
                                                </td>
                                                <td class="ClientInfoColumn1">
                                                    <div class="AdminPageLabel">Ссылка:</div>
                                                </td>
                                                <td>
                                                    <textarea rows="1" class="ClientInfoTextInputMain" name="ContactsLinks">@_Link</textarea>
                                                </td>
                                                <td class="ClientInfoColumn1">
                                                    <div class="AdminPageLabel">Картинка:</div>
                                                </td>
                                                <td class="ClientInfoColumn3">
                                                    <img src="/@_ContactLinks.linkImage[InRawLinkID]" asp-append-version="true" alt="Ссылка без картинки" class="FileInputIcon" />
                                                </td>
                                            </tr>
                                            <tr class="Unsortable">
                                                <td>
                                                    <div class="AdminPageLabel">Удалить</div>
                                                    <input type="image" onclick="return confirmDeleteContactsLink();" class="DeleteElementButton" src="/Images/DeleteImgFromGalleryButt_Small.png" asp-action="Contacts" asp-route-actionName="deleteLink" asp-route-id="@_ContactLinks.index?@_ContactLinks.Ids[InRawLinkID]" alt="Удалить" />
                                                    <input type="hidden" name="OnPageItemIDs" value="@_ContactLinks.Ids[InRawLinkID]" />
                                                </td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td class="ClientInfoColumn3">
                                                    <input type="file" accept="image/jpeg,image/png" class="FileInput" name="uploadedFile" />
                                                    <input type="submit" class="FileInputSubmitButt" asp-action="Contacts" asp-route-id="@_ContactLinks.index?@_ContactLinks.Ids[InRawLinkID]" value="Загрузить" />
                                                    <input type="submit" class="FileInputSubmitButt" asp-action="Contacts" asp-route-actionName="deleteLinkImg" asp-route-id="@_ContactLinks.index?@_ContactLinks.Ids[InRawLinkID]" value="Удалить" />
                                                    <input type="hidden" name="ContactsImages" value="@_ContactLinks.linkImage[InRawLinkID]" />
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                InRawLinkID++;
                                TotalLinkID++;
                            }


                        </tbody>
                    </table>
                </td>
            </tr>
        }
    </table>
    <input type="submit" onclick="return AddButtonPressed();" asp-action="Contacts" asp-route-actionName="addRow" value="Добавить ряд" class="AddButton" />
    <input type="submit" value="Сохранить" class="SubmitButton" />
    <input type="hidden" id="scroll_position" name="scroll_position" value="@ViewData["scroll_position"]" />
</form>
