@{
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}
    <link type="text/css" rel="stylesheet" href="~/css/adminMain.css" />
    <form asp-action="MainPage" asp-controller="Admin" method="post" enctype="multipart/form-data">
        <table class="StructContentTable">
            <tbody id="sortable">

                @foreach (MainPage MainPageitem in (IEnumerable<MainPage>)ViewData["AdminMainButtons"])
                {
                    <tr draggable="true">
                        <td>

                            <table class="StructContentRaw">
                                <tr class="Unsortable">
                                    <td class="MainColumn1" style="border-right:solid 1px; border-bottom:solid 1px">
                                        <div class="AdminPageLabel">Удалить:</div>
                                        <input type="image" onclick="return confirmDeleteMainPage();" class="DeleteElementButton" src="/Images/DeleteImgFromGalleryButt_Small.png" asp-action="MainPage" asp-route-actionName="delete" asp-route-id="@MainPageitem.id" alt="Удалить" />
                                        <input type="hidden" name="OnPageItemIDs" value="@MainPageitem.id" />
                                    </td>
                                    <td class="MainColumn2">
                                        <div class="AdminPageLabel">Подпись:</div>
                                        <input type="text" class="MainTextInput" name="mainPageButtonName" value="@MainPageitem.name" />
                                    </td>
                                    <td class="MainColumn3" rowspan="2">
                                        <img asp-append-version="true" src="/@MainPageitem.imgThumb" class="FileInputImage" />
                                    </td>
                                </tr>

                                <tr class="Unsortable">
                                    <td> <div class="AdminPageLabel">Ссылка:</div></td>
                                    <td>
                                        <input type="text" class="MainTextInput" name="mainPageButtonUrl" value="@MainPageitem.url" />
                                    </td>

                                </tr>
                                <tr class="Unsortable">
                                    <td colspan="2"></td>
                                    <td>
                                        <input type="file" accept="image/jpeg,image/png" class="FileInput" name="uploadedFile" />
                                        <input type="submit" asp-action="MainPage" asp-route-id="@MainPageitem.id" value="Загрузить" />
                                        <input type="hidden" name="mainPageButtonImage" value="@MainPageitem.img" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <input type="submit" onclick="return AddButtonPressed();" asp-action="MainPage" asp-route-actionName="add" value="Добавить ссылку" class="AddButton" />
        <input type="hidden" id="scroll_position" name="scroll_position" value="@ViewData["scroll_position"]" />
        <input type="submit" value="Сохранить" class="SubmitButton" />
    </form>
