@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Yulya.Models
<link type="text/css" rel="stylesheet" href="~/css/ClientsInfo.css" />
<div class="MainPanel">
    <div class="MainHeader">@ViewData["AboutMeMainText"]</div>
    @foreach (AboutMeContent _AboutMeContent in (IEnumerable<AboutMeContent>)ViewData["AboutMeContent"])
    {
        <div class="ServiceSlideContainer">
            <table class="SlideLayoutTable">
                <tr class="SlideLayoutTableRawOne">
                    @if (@_AboutMeContent.index % 2 != 0)
                    {
                    <td class="AboutMeTableCellPicRight">
                        <img src="@_AboutMeContent.img" asp-append-version="true" class="ServiceImage" />
                    </td>
                        <td class="TableCellText">
                            <div class="ServiceTextDiv">
                                <div class="CenterAlignServiceTextHeader">@_AboutMeContent.header</div>
                                <ul class="ServiceTextList">

                                    @foreach (string AboutMeListContent in @_AboutMeContent.text)
                                    {
                                        <li>@AboutMeListContent</li>
                                    }
                                </ul>
                                <div class="ServicePriceHeader">@_AboutMeContent.price</div>
                            </div>
                        </td>
                    }
                    else
                    {
                        <td class="TableCellText">
                            <div class="ServiceTextDiv">
                                <div class="CenterAlignServiceTextHeader">@_AboutMeContent.header</div>
                                <ul class="ServiceTextList">
                                    @foreach (string AboutMeListContent in @_AboutMeContent.text)
                                    {
                                        if (AboutMeListContent != "")
                                        {
                                            <li>@AboutMeListContent</li>
                                        }
                                    }
                                </ul>
                                <div class="ServicePriceHeader">@_AboutMeContent.price</div>
                            </div>
                        </td>
                        <td class="AboutMeTableCellPicRight">
                            <img src="@_AboutMeContent.img" asp-append-version="true" class="ServiceImage" />
                        </td>

                    }
                </tr>
                <tr class="AboutMeSlideLayoutTableRawTwo">
                    <td class="AboutMeTableCellPicDown" colspan="2">
                        <img src="@_AboutMeContent.img" asp-append-version="true" class="ServiceImage" />
                    </td>
                </tr>
            </table>
        </div>


    }
    </div>