@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Yulya.Models
<link type="text/css" rel="stylesheet" href="~/css/Contacts.css" />
<div class="MainPanel">
    <div class="MainHeader">@ViewData["ContactsMainText"]</div>
    <div class="ContactsSlideContainer">
        <table class="ContactsTable">
            <tr class="SlideLayoutTableRawOne">
                <td class="TableCellText">
                    <div class="ServiceTextDiv">
                        <div class="CenterAlignSubHeader">@ViewData["ContactsSubHeader"]</div>
                        <div class="LinksContainer">
                            <table style="margin: auto;">
                                @foreach (Contacts _ContactLinks in (IEnumerable<Contacts>)ViewData["ContactLinks"])
                                {
                                    <tr>
                                        <td>
                                            @{ int InRawLinkID = 0;}
                                            @foreach (string _Link in _ContactLinks.link)
                                            {


                                                @if (_ContactLinks.linkImage[InRawLinkID] != "Images/Contacts/")
                                                {

                                                    <a href="@_Link" style="text-decoration:none;">
                                                        <img class="ContactsImageLink" asp-append-version="true" src="/@_ContactLinks.linkImage[InRawLinkID]" title="@_ContactLinks.linkName[InRawLinkID]" alt="@_ContactLinks.linkName[InRawLinkID]" />
                                                    </a>

                                                }
                                                else
                                                {
                                              
                                                    <a class="ContactsTextLink" rel="nofollow" href="@_Link">@_ContactLinks.linkName[InRawLinkID]</a>
                                               
                                            }
                                                InRawLinkID++;

                                            }
                                    </td>
                                </tr>
                                }
                            </table>
                        </div>
                    </div>
                </td>
                <td class="TableCellPicRight">
                    <img src="/@ViewData["ContactsImage"]" asp-append-version="true" class="ContactsImage" />
                </td>
            </tr>
            <tr class="SlideLayoutTableRawTwo">
                <td class="TableCellPicDown" >
                    <img src="/@ViewData["ContactsImage"]" asp-append-version="true" class="ContactsImage" />
                </td>
            </tr>
        </table>
    </div>
</div>