@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Yulya.Models
<link type="text/css" rel="stylesheet" href="~/css/ClientsInfo.css" />
<div class="MainPanel">
    <div class="MainHeader">@ViewData["ClientsInfoMainHeader"]</div>


        @foreach (ClientsInfoContent ClientsInfoContent in (IEnumerable<ClientsInfoContent>)ViewData["ClientsInfoContent"])
        {

            <div class="ServiceSlideContainer">
                <table class="SlideLayoutTable">
                    <tr class="SlideLayoutTableRawOne">

                        @if (@ClientsInfoContent.index % 2 != 0)
                        {

                            <td class="TableCellText">
                                <div class="ServiceTextDiv">
                                    <div class="ServiceTextHeader">@ClientsInfoContent.header</div>
                                        <ul class="ServiceTextList">
                                            @foreach (string ForClientsListContent in @ClientsInfoContent.text)
                                            {
                                                if (ForClientsListContent != "")
                                                {
                                                    <li>@ForClientsListContent</li>
                                                }
                                            }
                                        </ul>
                                    <div class="ServicePriceHeader">@ClientsInfoContent.price</div>
                                </div>
                            </td>
                            <td class="TableCellPicRight">
                            
                                    <img src="@ClientsInfoContent.img" asp-append-version="true" class="ServiceImage" style="float:right"/>
                                 
                            </td>
                        }
                        else
                        {
                    <td class="TableCellPicRight">
                            <img src="@ClientsInfoContent.img" asp-append-version="true" class="ServiceImage" style="float:left" />
 
                    </td>
                            <td class="TableCellText">
                                <div class="ServiceTextDiv">
                                    <div class="ServiceTextHeader">@ClientsInfoContent.header</div>
                                    <ul class="ServiceTextList">

                                        @foreach (string ForClientsListContent in @ClientsInfoContent.text)
                                        {
                                            <li>@ForClientsListContent</li>
                                        }
                                    </ul>
                                    <div class="ServicePriceHeader">@ClientsInfoContent.price</div>
                                </div>
                            </td>
                           
                        }
                       
                    </tr>
                    <tr class="SlideLayoutTableRawTwo">
                        <td class="TableCellPicDown" colspan="2">
 
                                <img src="@ClientsInfoContent.img" asp-append-version="true" class="ServiceImage" />

                        </td>
                    </tr>
                </table>
            </div>
        }


</div>