@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Yulya.Models
<link type="text/css" rel="stylesheet" href="~/css/portfolio.css" />
<div class="MainPanel">
    @foreach (Portfolio PortfolioButtons in (IEnumerable<Portfolio>)ViewData["PortfolioContent"])
    {

    <div class="PortfolioServiceContainer"
         onmouseup="location.href='@PortfolioButtons.url'">
        <img class="PortfolioServiceImg" asp-append-version="true" src="@PortfolioButtons.img" alt="@PortfolioButtons.name" />
        <div class="PortfolioServiceLabel">@PortfolioButtons.name</div>
        <div class="PortfolioDescriptionLabel">@PortfolioButtons.description</div>
        <div class="PortfolioServiceBlckout"></div>
    </div>
    }
</div>

